/* Need to add .webhook class */

.input-group-text{
  background-color: #fff;
}

#InputUrl{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#onClickUrlBtn{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}